{% extends 'bootstrap/base.html' %}

{% block title%}Success{% endblock %}

{% block content %}

	<div class="container">
		<h3>¡Welcome {{user}}!</h3>
		<p>Este es el sistema de atención de reclamos de la Facultad de Ingeniería de la Universidad Nacional de 
			Entre Ríos, aquí usted podrá crear y adherirse a los reclamos vinculados con la institución que considere 
			pertinentes.</p>

		<div class="col-lg-5">
			<a href="{{ url_for('crear_reclamo') }}" class="btn btn-primary btn-block btn-large">Crear reclamo</a>
			<a href="{{ url_for('listar_reclamos') }}" class="btn btn-primary btn-block btn-large">Listar reclamos</a>
			<a href="{{ url_for('mis_reclamos') }}" class="btn btn-primary btn-block btn-large">Mis reclamos</a>
			<a href="{{ url_for('ayuda') }}" class="btn btn-primary btn-block btn-large">Ayuda</a>
			<a href="{{ url_for('logout') }}" class="btn btn-primary btn-block btn-large">Log Out</a>
		</div>
	</div>
	
{% endblock %}




